.mgs_waiting {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;

        .header-title{
            font-size: 24px;
            font-weight: 600;
            flex-shrink: 0;
        }

        .header-icon{
            width: 36px;
        }
    }
    .sidebar-nav{
        display: flex;
        border: 1px solid #ccc;
        margin: 0px 16px 10px;
        border-radius: 24px;

        .sidebar-nav-item{
            padding: 10px 16px;
            cursor: pointer;
            font-weight: 500;
            flex: 1;
            line-height: 26px;
            text-align: center;
            color: #555;
            border-radius: 24px;

            &.active{
               background-color: #ccc;
                color: #000;
            }
        }
    }

    .body{
        overflow: hidden;
        padding: 0 6px;
        border-top: 2px solid transparent;

        .content{
            height: 100%;
            overflow-x: auto;
        }
    }

}

