.information{
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;

    .information--content{
        display: flex;
        flex-direction: column;

        .information--image{
            padding: 16px 0 12px;
            display: flex;
            justify-content: center;

            .image--wrapper{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        .information--text{
            text-align: center;
            padding: 0 16px;

            .information--name{
                font-size: 18px;
                font-weight: 500;
                color: var(--color-text-primary);
                margin-bottom: 4px;
            }

            .information--subname{
                font-size: 13px;
                color: rgba($color: #000000, $alpha: 0.6);
            }
        }

        .information--notification{
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: 600;

            .notification--text{
                display: flex;
                gap: 6px;
                padding: 4px 12px;
                border-radius: 12px;
                background-color: rgba($color: #000000, $alpha: 0.1);

                svg{
                    width: 12px;
                    height: 12px;
                    color: var(--color-primary);
                    margin-top: 2px;
                }
            }
        }
        
        .information--icon{
            padding: 12px 12px 0;
            display: flex;
            justify-content: center;

            .icon--item{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 70px;
                padding: 0px 2px;

                .icon{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: rgba($color: #000000, $alpha: 0.05);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg{
                        width: 20px;
                        height: 20px;
                        color: var(--color-text-primary);
                    }
                }

                span{
                    font-size: 13px;
                    font-weight: 400;
                    color: var(--color-text-primary);
                    width: 100%;
                    text-align: center;
                    margin-top: 4px;
                }
            }
        }
    }

    .information__list-functions{
        padding: 16px 8px 0;

        .information__function-item{
            width: 100%;

        }
    }

    .information--header{
        position: relative;
        height: 50px;
        padding: 8px;
        flex-shrink: 0;

        .header-title{
            position: absolute;
            top: 50%;
            left: 50%;
            font-weight: 500;
            transform: translate(-50%, -50%);
        }
        .back-btn{
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
            outline: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                width: 20px;
                height: 20px;
                color: var(--color-text-primary);
            }

            &:hover{
                background-color: rgba($color: #000000, $alpha: 0.05);
            }
        }
    }

}