.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: min((100vh - 96px) - 16px, 1000px);
    min-height: 100px;
    background-color: rgba(255, 255, 255);
    box-shadow: rgba(0,0,0,0.12) 0px 2px 12px;
    border-radius: 8px;
    padding-top: 4px;
    overflow: hidden;
}