.group-item{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        background-color: var(--color-hover-account-item);
    }

    &.active {
        background-color: var(--color-active-account-item);
    }

    .avatar{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
    }

    .info{
        display: flex;
        width: calc(100% - 76px);
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        flex: 0 0 auto; 
        padding-left: 10px;
        gap: 4px;

        .user{
            font-size: 18px;
            color: black;
            font-weight: 500;
            width: 100%;
            flex-grow: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .number{
            font-size: 14px;
            color: rgba($color: #000000, $alpha: 0.5);
            max-width: 100%;
            flex-grow: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .status{
        width: 28px;
        height: 16px;
        padding-left: 12px;

        svg{
            width: 16px;
            height: 16px;
            color: rgba($color: #000000, $alpha: 0.5);
        }
    }
}