.menu-items{
    width: 280px;

    .menu-item{
        margin-left: 0;
    }
}
.menu-list{
    padding-bottom: 4px;
}
.menu-body{
    overflow-y: auto;
}

//Menu item
.menu-item{
    width: 100%;
    font-weight: 500;
    padding: 11px 16px;
    justify-content: start;
    border-radius: 0;
    line-height: 18px;

    &.separate{
        border-top: 1px solid rgba(22, 24, 35, 0.1);
    }
}

//Header

.header{
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back-btn{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);

    svg{
        width: 18px;
        height: 18px;
        color: var(--color-text-primary);
    }

    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.05);
        border-radius: 50%;
    }
}