
.group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 16px;

        .header-title{
            font-size: 24px;
            font-weight: 600;
            flex-shrink: 0;
        }
    }
    .header-subtitle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 16px 10px 16px;
        font-size: 14px;
        color: gray;
    }

    .header-subtitle::before{
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background-color: green;
        border-radius: 50%;
        margin-right: 8px;
    }

    .body{
        overflow: hidden;
        padding: 0 6px;
        border-top: 2px solid transparent;

        .content{
            height: 100%;
            overflow-x: auto;
        }
    }

}